# cache files
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store

# project files
models/*
workspace_iov_double_rf/
jobs/iov_double_rf_5_sites/

# data files
data/raw/*.csv
data/processed/*.csv
data/IoV/*.csv
IoV-secureFL-Pipeline_awsEC2S3/data/processed/*.csv
IoV-secureFL-Pipeline_awsEC2S3/data/raw/*.csv
IoV-secureFL-Pipeline_awsEC2S3/data/IoV/*.csv

# virtual environment
.venv/
uv.lock

# secret aws keys
IoV-secureFL-Pipeline_awsEC2S3/ec2Key/*